.text {
    stroke-width: 8%;
    stroke: black;
    border-color: yellow;
    border-style: solid;
    /*
    font-size: 4.5px !important;
    */
    /*
    width: 10rem !important;
    */
    padding: 0.2px !important;
}

.leaflet-tootltip {

    font-size: 4.5px !important;
}
